* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff8f8;
  color: #444;
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  text-align: right;
  padding: 20px;
}

main {
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a:hover{
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: #f01b3e;
  font-weight: 600;
  font-size: 20px
}

.intro-section {
  text-align: center;
  padding: 20px 20px;
}

h1 {
  font-size: 180px;
  margin-top: 100px;
  font-weight: 700;
  color: #f01b3e;
}

.arizonia {
  font-family: 'Arizonia', cursive;
}

h2 {
  font-size: 100px;
  margin-top: 2px;
  color:#f01b3e;
  font-weight: 600;
}

.swipe {
  margin-top: 100px;
  margin-bottom: 150px;
  font-size: 20px;
  color: #f01b3e;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  font-family: 'Arizonia', cursive;
  color: #f01b3e;
  font-size: 70px;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: left;
   margin-left: 0; 
}

.about-text {
  flex: 1 1 60%;
  color: #f01b3e;
  font-size: 20px;
  text-align: justify;
}

.about-text p {
  margin-bottom: 15px;
  margin-right: 40px;
  line-height: 1.6;
}

.about-image {
  flex: 1 1 35%;
  margin-top: 230px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.btn {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 20px;
  background-color: #f01b3e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px; 
}

.section-title {
  font-family: 'Arizonia', cursive;
  color: #f01b3e;
  font-size: 100px;
  margin-bottom: 50px;
  margin-top:5px;
}


.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  max-width: 1250px;
}

.skill-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #f01b3e;
  font-size: 25px;
}

.skill-name img {
  width: 40px;
  height: 40px;
}

.skill-dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.filled {
  background-color: #d10050;
}

.dot.empty {
  background-color: #ccc;
}

.works-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.works-title {
  font-family: 'Arizonia', cursive;
  color: #f01b3e;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}


.works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1800px;
  margin: 0 auto;
}

.work-card {
  background-color: #f8e8e8;
  border-radius: 20px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.work-card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.work-card .category {
  color: #777;
  font-size: 17px;
  margin-bottom: 5px;
}

.work-card h4 {
  color: #f01b3e;
  font-size: 20px;
  font-weight: 600;
}

.center-btn {
  margin-top: 40px;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.language-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.language-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f8c8c8;
}

.language-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-info img {
  width: 24px;
  height: 24px;
}


footer {
  background-color: #f01b3e;
  color: white;
  padding: 30px 20px;
  width: 100%;
  margin: 0; 
  margin-top: 150px;
}

.footer-content {
  max-width: 2000px;
  margin: auto;
  text-align: right;
}

.footer-contact a {
  color: white;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

footer p {
  margin: 5px 0;
}

a, .btn {
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.explicaciones {
  width: auto;
  text-align: justify;
  color: #f01b3e;
  font-size: 20px;
  }

.project-title {
  font-family: 'Arizonia', cursive;
  color: #f01b3e;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 1000%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  max-width: 400px;
  height: 400px;
  overflow: hidden; 
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


a {
  color: #f01b3e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.work-link {
  text-decoration: none;
  color: inherit;
}
